a {
  text-decoration: white;
}

.hero {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    background-position: center;
    background-size: cover;
    position:absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
}

.box {
  border: 1px solid #0f0e0e;
  background-color: rgb(41, 35, 44);
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 25px !important;
  color:black;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.button-right {
  display: flex;
  justify-content: flex-end;
}

#recaptcha-container {
  margin: 20px;
}
